@use '../../sass/fonts/' as *;
@use '../../sass/mixins.sass' as *;
@use '../../sass/variables/' as g;

.about-container {
    $fg: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;

    .about {
        @include box(100%, auto);
        min-height: 50vh;
        padding: 3vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            @include DisplayFont(g.$MEDIUM_TITLE_FONTSIZE);
            color: $fg;
            text-align: center;
        }

        .text {
            color: darken($fg, $amount: 25%);
            @include MainFont(g.$SMALL_TEXT_FONTSIZE);
            text-transform: capitalize;
            overflow-y: auto;
            word-break: keep-all;
            margin-top: 50px;
            line-height: 2;
            background-color: #121212;
            padding: 3vw;
            border-radius: 2.5vw;

            // v2
            /* background-color: #040404;
            box-shadow: 0 0 20px #121212; */
        }
    }
}
