@use '../../sass/fonts/' as *;
@use '../../sass/mixins.sass' as *;

.about-container {
    .team {
        @include box(100%, 50vh);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .name {
            // @include DisplayFont(calc(0.7rem + 2vw));
            @include DisplayFont(clamp(2rem, 1.5rem + 5vw, 6rem));
            color: #fff;
        }
    }
}
