@use '../../sass/mixins.sass' as *;
@use '../../sass/variables' as g;
@use '../../sass/fonts/' as *;

.creators-container {
    padding: 10vh 3vw;
    $fg: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    @include box(100%, auto);

    // background: linear-gradient(
    //     to bottom,
    //     #1a1a1a,
    //     #272727,
    //     #272727,
    //     #272727,
    //     #272727
    // );

    .title {
        color: $fg;
        @include DisplayFont(g.$MEDIUM_TITLE_FONTSIZE);
        text-align: center;
    }

    .creators {
        @include box(100%);
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5vw;

        .creator {
            cursor: pointer;
            $fg: #fff;
            @include war(clamp(200px, 20vw + 100px, 400px), #{3.5 / 5});
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-shadow: -2px 2px 10px 1px #121212;
            border-radius: 5px;
            position: relative;

            .banner {
                @include box(100%);
                @include bg(
                    'https://media.graphcms.com/UjmjWRNcTpC65k1cR9Zb',
                    cover,
                    top center
                );
            }

            .info {
                @include box(100%, auto);
                flex-shrink: 0;
                display: flex;
                align-items: center;
                padding: 0.5rem;
                gap: 1rem;
                background: g.$MAIN_BG;
                position: relative;

                .profile {
                    @include har(100%);
                    border-radius: 15%;
                    @include bg(
                        'https://media.graphcms.com/UjmjWRNcTpC65k1cR9Zb'
                    );
                    box-shadow: -1px 1px 7px 1px #121212;
                }

                .meta {
                    @include box(100%);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    color: $fg;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .name {
                        @include DisplayFont(g.$TEXT_FONTSIZE);
                    }
                    .date {
                        @include MainFont(clamp(0.6rem, 0.2rem + 1vw, 1.8rem));
                        color: darken($fg, 40%);
                    }
                }
            }

            .details-container {
                @include box(100%, 0);
                position: relative;
                .details {
                    position: absolute;
                    background-color: g.$MAIN_BG;
                    color: g.$MAIN_FG;

                    width: 100%;
                    transform: translateY(-2px);
                    transition: all 500ms ease;

                    border: 2px #272727 solid;
                    border-left: 0;
                    border-right: 0;

                    .roles {
                        display: flex;
                        gap: 1vw;
                        align-items: center;
                        padding: 1vw;
                        flex-wrap: wrap;

                        .role {
                            background-color: darken(#272727, 5%);
                            border-radius: 7px 8px 0px 9px;
                            padding: 0.2rem 0.55rem;
                            white-space: nowrap;
                            @include MainFont(g.$MEDIUM_TEXT_FONTSIZE);
                        }
                    }

                    .quote {
                        font-size: g.$MEDIUM_TEXT_FONTSIZE;
                        display: grid;
                        place-items: center;
                        text-transform: capitalize;
                        padding: 0.5vw;
                    }
                }
            }

            &:hover {
                .socials .social {
                    transform: translateX(0);
                }
            }

            .socials {
                position: absolute;
                color: #fff;
                inset: 10px 10px auto auto;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .social {
                    --hover-color: #{g.$MAIN_FG};
                    transform: translateX(200%);
                    @include war(calc(1vw + 1rem));
                    transition: all 200ms ease;
                    filter: drop-shadow(2px 4px 5px black);

                    svg {
                        @include box(100%);
                    }

                    @for $i from 1 to 3 {
                        &:nth-child(#{$i}) {
                            transition-delay: ($i - 1) * 100ms;
                        }
                    }

                    &:hover {
                        color: var(--hover-color);
                    }
                }
            }
            // https://cdn.discordapp.com/attachments/731174051170746500/836798695139573840/007_logo_f27.png
        }
    }
}
