@use '/src/sass/mixins.sass' as *;
@use '/src/sass/media.scss' as *;
@use '/src/sass/variables.sass' as *;
@use '/src/sass/fonts' as *;

.projects-in-main {
    @include box(100%, 100vh);

    .container {
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header h1 {
            font-size: $heading1;
            @media (max-width: 500px) {
                font-size: $heading1_mobile;
            }
            font-family: 'Graduate', 'Roboto', sans-serif;
            text-transform: uppercase;
        }

        .project-slider {
            padding: 2rem 3rem 0;
            @include media('<=1080px') {
                padding: 2rem 0;
            }
            width: 80%;

            .card-project {
                @include box(100%);
                display: flex;
                align-items: center;
                justify-content: center;
                border: 3px solid #454545;
                border-radius: 7px;
                overflow: hidden;

                position: relative;

                .thumbnail {
                    @include box(100%, 100%);
                    background-color: #000;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    flex-shrink: 0;
                }

                .details {
                    cursor: pointer;
                    @include box(calc(100% + 4px), 90%);
                    position: absolute;
                    // margin: 0.5rem 0.5rem 0 0.5rem;
                    padding: 0.5rem 0.5rem 0 0.5rem;
                    border: 2px solid grey;
                    border-radius: 20px;

                    transform: translateY(100%);
                    transition: 0.3s all ease-in-out;

                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;

                    .title {
                        display: block;
                        @include MainFont(clamp(16px, -0.45rem + 4vw, 2.4rem));
                        text-transform: capitalize;
                        white-space: nowrap;
                        overflow: hidden;
                        flex-shrink: 0;
                    }

                    .arrow-up {
                        overflow: hidden;
                        position: absolute;
                        top: -13.5%;
                        @include box(30px);
                        display: grid;
                        place-items: center;

                        transition: all 0.2s ease-in;

                        &-icon {
                            $bezier: cubic-bezier(0, 0.6, 1, 0.4);
                            animation: arrowMove 2s $bezier forwards infinite;

                            @keyframes arrowMove {
                                from {
                                    transform: translateY(34px);
                                }

                                to {
                                    transform: translateY(-25px);
                                }
                            }
                        }

                        &.active {
                            transform: scaleY(-1);
                        }
                    }

                    .see-more {
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        font-size: clamp(16px, -1.2rem + 4vw, 20px);


                        @include media('<=850px') {
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 5px;
                            height: 100%;
                        }
                    }

                    &.focus {
                        background-color: rgb(26, 26, 26, 0.7);

                        transform: translateY(10%);
                    }

                    @include media('<=850px') {
                        gap: 5px;
                        align-items: center;
                        .description {
                            display: none;
                        }
                        .button {
                            padding: 5px 15px;
                            font-size: clamp(12px, -1.75rem + 4vw, 20px);
                        }
                    }

                    @include media('<=450px') {
                        justify-content: space-between;
                        .date-git {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
