@mixin box($w, $h: $w) {
    width: $w;
    height: $h;
}

$heading1: 100px;
$heading2: 50px;
$disc: 24px;
$heading1_mobile: 50px;
$heading2_mobile: 25px;
$disc_mobile: 12px;


.hero-section {
    @include box(100%, 100vh);
    margin-top: -70px;

    .main {
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            font-size: $heading1;
            @media (max-width: 500px) {
                font-size: $heading1_mobile;
            }
            font-family: 'Graduate', 'Roboto', sans-serif;
            text-transform: uppercase;
        }

        svg {
            @include box(25px);
            @media (max-width: 500px) {
                @include box(15px);
            }
            margin: 0 10px;
            cursor: pointer;
        }
    }
}
