@use '../../sass/mixins.sass' as *;
@use '../../sass/media.scss' as *;
@use '../../sass/variables' as *;
@use '../../sass/fonts' as *;

.hero-section {
    @include box(100%, 100vh);

    // background: linear-gradient(
    //     to bottom,
    //     #000,
    //     #040404,
    //     #040404,
    //     #040404,
    //     #121212
    // );

    .main {
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            @include DisplayFont($TITLE_FONTSIZE);
        }

        .social {
            display: flex;
            gap: clamp(1rem, 2vw, 2rem);
            svg {
                @include box($MEDIUM_TEXT_FONTSIZE);
                cursor: pointer;
            }
        }
    }
}
