@use '/src/sass/mixins.sass' as *;
@use '/src/sass/media.scss' as *;
@use '/src/sass/fonts' as *;

.demos .demo-card {
    @include box(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #454545;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    touch-action: none;

    .thumbnail {
        @include box(100%, 100%);
        background-color: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-shrink: 0;

        &.active{
            filter: blur(5px);
        }
    }

    .details {
        cursor: pointer;
        @include box(calc(100% + 4px), 90%);
        position: absolute;
        // margin: 0.5rem 0.5rem 0 0.5rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
        border: 2px solid grey;
        border-radius: 20px;

        transform: translateY(100%);
        transition: 0.3s all ease-in-out;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .title {
            display: block;
            @include MainFont(clamp(16px, -0.45rem + 4vw, 2.4rem));
            text-transform: capitalize;
            white-space: nowrap;
            overflow: hidden;
            flex-shrink: 0;
        }

        .arrow-up {
            overflow: hidden;
            position: absolute;
            top: -32px;
            @include box(30px);
            display: grid;
            place-items: center;

            transition: all 0.2s ease-in;

            &-icon {
                $bezier: cubic-bezier(0, 0.6, 1, 0.4);
                animation: arrowMove 2s $bezier forwards infinite;

                @keyframes arrowMove {
                    from {
                        transform: translateY(34px);
                    }

                    to {
                        transform: translateY(-25px);
                    }
                }
            }

            &.active {
                transform: scaleY(-1);
            }
        }

        .see-more {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            font-size: clamp(16px, -1.2rem + 4vw, 20px);

            @include media('<=850px') {
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                gap: 5px;
                height: 100%;
            }
        }

        &.focus {
            background-color: rgb(26, 26, 26, 0.7);

            transform: translateY(10%);
        }

        @include media('<=850px') {
            gap: 5px;
            align-items: center;
            .description {
                display: none;
            }
            .button {
                padding: 5px 15px;
                font-size: clamp(12px, -1.75rem + 4vw, 20px);
            }
        }

        @include media('<=450px') {
            justify-content: space-between;
            .date-git {
                display: none;
            }
        }
    }
}
