@use '/src/sass/mixins.sass' as *;
@use '/src/sass/media.scss' as *;
@use '/src/sass/variables' as *;
@use '/src/sass/fonts' as *;

.demos {
    // @include box(100%, 100vh);

    .container {
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header h1 {
            font-size: $heading1;
            @media (max-width: 500px) {
                font-size: $heading1_mobile;
            }
            font-family: 'Graduate', 'Roboto', sans-serif;
            text-transform: uppercase;
        }

        .demo-slider {
            padding: 2rem 3rem 0;
            @include media('<=1080px') {
                padding: 2rem 0;
            }
            width: 80%;
        }
    }
}
