@use '/src/sass/mixins.sass' as *;
@use '/src/sass/media.scss' as *;
@use '/src/sass/fonts' as *;
@use '/src/sass/variables/' as g;

.demos .demo-card {
    @include box(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #454545;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    touch-action: none;

    .thumbnail {
        @include box(100%, 100%);
        background-color: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-shrink: 0;
    }

    .details {
        $borderRadius: clamp(1.3rem, 5vw, 2rem);
        cursor: pointer;
        @include box(calc(100% + 4px), 80%);
        position: absolute;
        padding: 0.5rem;
        padding-bottom: 1rem;
        border: 2px solid grey;
        border-radius: $borderRadius $borderRadius 0 0;

        transform: translateY(105%);
        transition: 0.3s all ease-in-out;

        backdrop-filter: blur(5px);
        background-color: rgb(26, 26, 26, 0.6);

        display: flex;

        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 7%;

        .title {
            // color
            color: g.$MAIN_FG;
            background-color: #121212;

            padding: 0.2rem 1.2rem;
            border-radius: 10px;
            border: 0.2rem solid #040404;

            display: block;
            @include MainFont(clamp(16px, -0.45rem + 4vw, 2.4rem));
            text-transform: capitalize;
            white-space: nowrap;
            overflow: hidden;
            flex-shrink: 0;

            transform: translateX(-100vw);
            transition: transform 900ms cubic-bezier(0.2, 0.3, 0.3, 1.3);
        }

        .description {
            align-self: baseline;
            word-break: break-word;
            overflow: hidden;
        }

        .arrow-up {
            overflow: hidden;
            position: absolute;
            top: -32px;
            @include box(30px);
            display: grid;
            place-items: center;

            transition: all 0.2s ease-in;

            &-icon {
                $bezier: cubic-bezier(0, 0.6, 1, 0.4);
                animation: arrowMove 2s $bezier forwards infinite;

                @keyframes arrowMove {
                    from {
                        transform: translateY(34px);
                    }

                    to {
                        transform: translateY(-25px);
                    }
                }
            }

            &.active {
                transform: scaleY(-1);
            }
        }

        .see-more {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;

            button {
                border-color: g.$MAIN_BG;
                font-size: g.$SMALL_TEXT_FONTSIZE;
            }
        }

        &.focus {
            transform: translateY(15%);
            .title {
                transform: translateX(0);
            }
        }
    }
}
