@use './fonts/config.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;

    &:focus {
        outline: none;
    }
}

body {
    overflow: hidden;
    background-color: #000;
    position: relative;
}
// links
a {
    text-decoration: none;
    color: currentColor;
}
// buttons
button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

// scroll bar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

// font setups
body {
    font-family: $MAIN, $BACKUP;
}

em {
    font-family: $ITALIC, $BACKUP;
}

strong {
    font-family: $BOLD, $BACKUP;
}

code {
    font-family: $MONO;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 80%;
    background-color: #353535;
    border-radius: 6px;
}
