@use './fonts/config.scss' as *;

$heading1: 100px;
$heading2: 50px;
$disc: 24px;
$heading1_mobile: 50px;
$heading2_mobile: 25px;
$disc_mobile: 12px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

// buttons
button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

// scroll bar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

html,body{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    overflow: overlay;
    background-color: #000;
    position: relative;

    #root {
        background: #040404;
        // background: linear-gradient(
        //     to bottom,
        //     #040404,
        //     #121212,
        // );
    }
}

// font setups
body {
    font-family: $MAIN, $BACKUP;
}

em {
    font-family: $ITALIC, $BACKUP;
}

strong {
    font-family: $BOLD, $BACKUP;
}
