$TITLE_FONTSIZE: clamp(2rem, 1.5rem + 5vw, 6rem)
$SMALL_TITLE_FONTSIZE: clamp(1.2rem, 0.7rem + 5vw, 3rem)

$TEXT_FONTSIZE: clamp(0.8rem, 0.7rem + 1vw, 1.8rem)
$SMALL_TEXT_FONTSIZE: clamp(0.7rem, 0.3rem + 1vw, 1.8rem)

// others
$heading1: 80px
$heading2: 50px
$disc: 24px
$heading1_mobile: 50px
$heading2_mobile: 25px
$disc_mobile: 12px
