@use '../../sass/variables.sass' as *;
@use '../../sass/mixins.sass' as *;
@use '../../sass/fonts/' as *;

.navbar-container {
    @include box(100%, $NAVBAR_HEIGHT);
    background-color: $NAVBAR_BG;
    color: #fff;
    @include MainFont(17px);
    white-space: nowrap;
    // min-height: 70px;
    // padding: 16px 32px;

    .navbar {
        display: flex;
        @include box(100%, $NAVBAR_HEIGHT);
        background-color: $NAVBAR_BG;
        padding: 0 32px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        position: fixed;

        .section {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .logo {
                // background-image: url('../../img/00.png');
                // background-size: cover;
                // background-position: center;
                width: 50px;
                @include DisplayFont(28px);
                display: grid;
                place-items: center;
                user-select: none;
            }

            .link {
                position: relative;

                // flex
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 7px;
                align-items: center;

                text-decoration: none;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
                transition: opacity 100ms;

                &:hover::after {
                    color: snow;
                    opacity: 0.6;
                    transition-duration: 0.4s;
                    transform: scaleX(1);
                    transform-origin: left center;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #fff;
                    transform-origin: right center;
                    transform: scaleX(0);
                    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1),
                        -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
    }
}
