// italic
$ITALIC: 'Open Sans';

// monospace
$MONO: 'DM Mono', monospace;

// bold
$BOLD: 'Noto Sans';

// main
$MAIN: 'Lato';

// display
$DISPLAY: 'Graduate';

// backup
$BACKUP: -apple-system, 'Segoe UI', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
