// italic font
$ITALIC: 'Open Sans';

// bold font
$BOLD: 'Noto Sans';

// main
$MAIN: 'Lato';

// display
$DISPLAY: 'Graduate';

// backup
$BACKUP: -apple-system, 'Segoe UI', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';

