@use './config.scss' as *;

@mixin MainFont($s: 18px) {
    font-size: $s;
    font-family: $MAIN, $BACKUP;
}

@mixin DisplayFont($s: 18px) {
    font-size: $s;
    font-family: $DISPLAY, $BACKUP;
    text-transform: uppercase;
}
