@use '../../../sass/mixins.sass' as *;
@use '../../../sass/variables' as g;
@use '../../../sass/fonts/' as *;

.project {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    .project-container {
        position: relative;

        display: flex;

        @include box(90%, 80%);


        .project-gallery {
            width: 70%;
            height: 100%;

            display: flex;
            flex-direction: column;

            .space {
                height: 5%;
            }

            .project-img-preview {
                border-radius: 8px;
                height: 75%;

                background-color: black;
            }

            .project-imgs {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .img {
                    border-radius: 8px;
                    width: 16.6%;
                    height: 100%;
                    background-color: aquamarine;
                }
            }
        }

        .space {
            width: 5%;
        }

        .project-details {
            width: 25%;
            // padding: 2rem 0;

            .details-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: aqua;

                height: 100%;

                border-radius: 8px;

                .title {
                    height: 20%;
                    display: flex;
                    align-items: center;
                }
                .description {
                    height: 20%;
                    display: flex;
                    align-items: center;
                }
                .tag{
                    height: 10%;
                }
                .start-time {
                    height: 10%;
                    display: flex;
                    align-items: center;
                }
                .project-status {
                    height: 20%;
                    display: flex;
                    align-items: center;
                }
                .github {
                    height: 20%;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
