@use '/src/sass/mixins.sass' as *;
@use '/src/sass/media.scss' as *;
@use '/src/sass/variables/' as *;

.card-slider-container {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    position: relative;

    padding: 0 10px;

    display: grid;
    place-items: center;
    grid-template-areas: 'previous cards next';
    grid-template-columns: auto 1fr auto;
    gap: 10px;

    @include media('<=600px') {
        grid-template-areas:
            'cards cards'
            'previous next';
        grid-template-columns: auto;
    }

    .btn {
        border-radius: 3px;

        button {
            display: grid;
            place-items: center;
            user-select: none;
            @include box(40px);
            border-radius: 0.4rem;
            background-color: transparent;
            transition: background-color 250ms;
            &:hover {
                background-color: #272727;
            }
            color: snow;

            .icon {
                @include box(27px);
                display: grid;
                place-items: center;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.next {
            right: 0;
            grid-area: next;
        }

        &.previous {
            left: 0;
            grid-area: previous;
        }
    }

    .card-slider {
        // @include box(50%, 35vh);
        // grid
        grid-area: cards;
        position: relative;
        display: grid;
        place-items: center;

        @include war(100%, #{16 / 9});
        // @include box(840px, 335px);
        .card {
            position: absolute;
            transition: all 450ms ease 0s;

            // @include box(840px, 335px);
            // min-width: 50%;
            // height: 35vh;

            @include box(82%);
            visibility: hidden;
            overflow: hidden;

            &.c {
                z-index: $ZINDEX__CARDSLIDER_CURRENT;
                transform: scale(1);
                visibility: visible;
            }

            &.n1,
            &.n2,
            &.p1,
            &.p2 {
                cursor: pointer;
                &:hover::after {
                    opacity: 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    opacity: 0.4;
                    background-color: #000;
                    z-index: 1;
                    inset: 0;
                }
            }

            &.n1 {
                z-index: $ZINDEX__CARDSLIDER_LEVEL1;
                transform: translateX(13%) scale(0.85);
                visibility: visible;
            }
            &.n2 {
                z-index: $ZINDEX__CARDSLIDER_LEVEL2;
                transform: translateX(24%) scale(0.7);
                visibility: visible;
            }

            &.p1 {
                z-index: $ZINDEX__CARDSLIDER_LEVEL1;
                transform: translateX(-13%) scale(0.85);
                visibility: visible;
            }
            &.p2 {
                z-index: $ZINDEX__CARDSLIDER_LEVEL2;
                transform: translateX(-24%) scale(0.7);
                visibility: visible;
            }

            @include media('<=1200px') {
                @include box(90%);
                &.p1 {
                    transform: translateX(-10%) scale(0.85);
                }
                &.p2 {
                    transform: translateX(-20%) scale(0.7);
                }
                &.n1 {
                    transform: translateX(10%) scale(0.85);
                }
                &.n2 {
                    transform: translateX(20%) scale(0.7);
                }
            }

            @include media('<=500px') {
                @include box(95%);
                &.p2,
                &.n2 {
                    transform: translateX(0%) scale(0.7);
                }
            }
        }
    }
}
