@use '../../../sass/mixins.sass' as *;

.loading {
    &.fixed {
        position: fixed;
        z-index: 100;
        inset: 0 0 0 0;
    }

    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
    @include box(100%, 100vh);

    .progress-bar {
        @include box(40%, 10px);
        background: #fff1;
        overflow: hidden;
        border-radius: 10;

        .progress {
            background: #fff9;
            @include box(0%, 100%);
            display: block;
            transition: width 500ms;
        }
    }

    .clock-loader {
        $color: #fff;
        position: relative;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: $color 0px 0px 0px 2px inset;
        display: grid;
        place-items: center;

        &::before,
        &::after {
            position: absolute;
            content: '';
            background-color: $color;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        &::before {
            width: 16.6667px;
            height: 2px;
            top: 24px;
            left: 24px;
            transform-origin: 1px 1px 0px;
            animation: 8s linear 0s infinite normal none running clock-animation;
        }

        &::after {
            width: 20.8333px;
            height: 2px;
            top: 24px;
            left: 24px;
            transform-origin: 1px 1px 0px;
            animation: 2s linear 0s infinite normal none running clock-animation;
        }

        @keyframes clock-animation {
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
