
// Google fonts
@import url(https://fonts.googleapis.com/css2?family=Graduate&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

@mixin box($w, $h: $w) {
    width: $w;
    height: $h;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

.main {
    @include box(100%, 100vh);
    color: #FFF;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-size: 100px;
        @media (max-width: 500px) {font-size: 50px;}
        font-family: 'Graduate', 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    svg {
        @include box(25px);
        @media (max-width: 500px) {@include box(15px);}
        margin: 0 10px;
        cursor: pointer;
    }
}